* {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
  margin: -10px;
}

body{
  margin: 0;
}

/************* HEADER/NAV *************/
header {
  background-color: #333333;
  height: 140px;
  text-align: center;
  margin: 0;
}

header img {
  width: 120px;
  padding-top: 1rem;
}

nav ul li{
  display: inline;
  color: lightgrey;
  padding: 0 .7rem .1rem .7rem;
  border-left: 1px solid white;
  transition: .25s;
}

nav ul li:hover {
  background-color: #0D6C0E;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#border-left-none {
  border-left: none;
}

.pointer-events {
  pointer-events: visible;
}

/************* MAIN *************/
main{
  max-width: 700px;
  margin: auto;
  height: 530px;
}

main #first-para {
  font-weight: 100;
  padding-top: 1.75rem;
  text-align: center;
}

main h2 {
  text-align: center;
  margin: 0;
}

main #meltdown-container {
  background-color: #EAF5EA;
}

main #meltdown-container h2 {
  text-align: center;
  padding: 5px;
  color:#0D6C0E;
  margin-bottom: 2rem;
  transition: .25s;
}

main #meltdown-container h2:hover {
  background-color: #0D6C0E;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

main div.box-row {
  text-align: center;
}

main div.lts-current {
  display: inline-block;
  background-color: #0D6C0E;
  color: white;
  text-align: center;
  margin: 1rem;
  width: 242px;
  height: 81px;
  font-size: .75rem;
  transition: .25s;
}

main div.lts-current:hover {
  opacity: .8;
  cursor: pointer;
}

main div.lts-current h1{
  margin-bottom: 0;
}

div.links-row {
  text-align: center;
}

div.links-row ul {
  display: inline;
}

div.links-row ul li {
  display: inline;
  border-left: 1px solid black;
  padding: 0 .25rem;
  color: #0D6C0E;
}

div.links-row ul li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.mini-nav {
  font-size: .67rem;
}

#left {
  position: relative;
  bottom: 15px;
  right: 17px;
}

#right {
  position: relative;
  bottom: 15px;
  right: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

h3 span.make-it-green {
  color: #0D6C0E;
  transition: .2s;
}

h3 span.make-it-green:hover {
  background-color: #0D6C0E;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}


/************* FOOTER *************/
footer div.footer-container {
  max-width: 980px;
  margin: auto;
}

footer {
  height: 196px;
  width: 100%;
  margin: 0;
  background-color: #333333;
}

footer ul.issue-link{
  text-align: right;
  /* margin: 2rem; */
  padding-top: 1rem;
}

footer ul.issue-link li {
  display: inline;
  color: lightgrey;
  border-left: 1px solid lightgrey;
  padding: 0 .5rem;
  font-size: .75rem;
  transition: .25s;
}

footer ul.issue-link li:hover {
  border-bottom: 1px solid lightgrey;
  color: white;
  cursor: pointer;
}

footer span#top {
  font-size: .75em;
  color: lightgrey;
  position: relative;
  bottom: 32px;
}

footer p {
  font-size: .75em;
  color: lightgrey;
  margin: 0;
  line-height: 1.5rem;
}



/************* MEDIA QUERIES *************/
@media (max-width: 1024px) {

  nav ul {
    padding: 0;
  }

  nav ul li{
    display: block;
    color: lightgrey;
    padding: 0 .7rem .1rem .7rem;
    /* border-left: 1px solid white; */
    transition: .25s;
  }

  header {
    background-color: #333333;
    height: 300px;
    text-align: center;
    margin: 0;
  }

}
