* {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
  margin: -10px;
}

/************* HEADER/NAV *************/
header {
  background-color: #333333;
  height: 140px;
  text-align: center;
  margin: 0;
}

header img {
  width: 120px;
  padding-top: 1rem;
}

nav ul li{
  display: inline;
  color: lightgrey;
  padding: 0 .7rem .1rem .7rem;
  border-left: 1px solid white;
}

nav ul li:hover {
  background-color: #0D6C0E;
}

#border-left-none {
  border-left: none;
}

.pointer-events {
  pointer-events: visible;
}

/************* MAIN *************/
main{
  max-width: 700px;
  margin: auto;
}

main h3{
  font-weight: 100;
  padding-top: 1.75rem;
  text-align: center;
}

main h2 {
  text-align: center;
}

main #meltdown-container {
  background-color: #EAF5EA;
}

main #meltdown-container h2 {
  text-align: center;
  padding: 5px;
  color:#0D6C0E;
  margin-bottom: 2rem;
}

main div.box-row {
  text-align: center;
}

main div.lts-current {
  display: inline-block;
  background-color: #0D6C0E;
  color: white;
  text-align: center;
  /* padding: .5rem; */
  margin: 1rem;
  width: 242px;
  height: 81px;
  /* line-height: 8px; */
  font-size: .75rem;
}

main div.lts-current h1{
  margin-bottom: 0;
}

div.links-row {
  text-align: center;
}

div.links-row ul {
  display: inline;
}

div.links-row ul li {
  display: inline;
  border-left: 1px solid black;
  padding: 0 .25rem;
}

div.links-row ul li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.mini-nav {
  font-size: .67rem;
}

#left {
  position: relative;
  bottom: 15px;
  right: 17px;
}

#right {
  position: relative;
  bottom: 15px;
  right: 20px;
}
